
*{
    margin:0;
    padding:0;
    font-family: Century Gothic;
    
  
}

body{
   
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(bg.jpg) ;
    
   
   
    
    
    
    
}
.table
{
    background-color: powderblue;
}

ul{
   float:right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
    
    
    margin: 15px;
    
}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid #000;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: paleturquoise;
    color: black;
}
